<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucas.vieira.gerenciadorhotel.tela">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_VIEW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaHotelActivity"
            android:label="@string/hotel"
        />
        <activity
            android:name=".FormularioHotelActivity"
            android:label="@string/hotel"
        />
        <activity
            android:name=".ListaQuartoActivity"
            android:label="@string/quarto"
            />
        <activity
            android:name=".FormularioQuartoActivity"
            android:label="@string/quarto"
            />
        <activity
            android:name=".ListaFuncionarioActivity"
            android:label="@string/func"
            />
        <activity
            android:name=".FormularioFuncionarioActivity"
            android:label="@string/func"
            />
    </application>

</manifest>

